* {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(0, 0, 37, 0.784);
}
h1 {
    color: rgb(0, 18, 155);
    font-size: 96px;
    font-weight: 900;
    text-decoration: wavy;
    text-align: center;
    font-family: 'Anton', serif;
}
p {
    font-size: 24px;
    font-family: 'Courgette', serif;
    font-style: normal;
    text-align: justify;
}
.bg {
    height: 500px;
    width: 100%;
    background-image: url(https://i.pinimg.com/736x/b0/3b/8e/b03b8e4a1188d6b68c001cd8e9e8b490.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.header:hover::before {
    left: 100%;
}
.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
}